@{
    ViewBag.Title = "Paragraphe";
}

<p>@ViewBag.LeParagraphe.Contenu</p>

@ViewBag.LeParagraphe.LaQuestion.Contenu
<ul>
    @foreach (var reponse in ViewBag.LeParagraphe.LaQuestion.LesReponses)
    {
        <li>@reponse.Contenu</li>
    }
</ul>
