@{
    ViewBag.Title = "Page d'accueil !";
}

@{
    DateTime valeur = DateTime.UtcNow;
}

<h2>appel action : @ViewBag.DateHeure</h2>
<h3>direct page : @DateTime.Now</h3>

UTC : @valeur <br />
erreur ? : @ViewBag.erreurSQL
nb Droides : @ViewBag.nbDroides <br/>